# ============================================================================
# ProxyShard User API: OpenAPI 3.0.3.
#
# ИСТОЧНИК ПРАВДЫ по публичному API. Раньше спека жила только в GitBook
# (docs.proxyshard.com/proxyshard-api/*), из-за чего расходилась с кодом
# незаметно: ответы ручек уже отдавали message и proxy_password, а спека
# продолжала обещать старую форму.
#
# Правила:
#   * добавил/изменил ручку в services/user-api - правь этот файл в ТОМ ЖЕ
#     коммите;
#   * теги = страницы в GitBook, менять их имена без нужды не стоит;
#   * после мержа залить файл в GitBook (OpenAPI-спека проекта), иначе
#     клиенты снова увидят устаревшее.
#
# Проверка перед заливкой:
#   python -m openapi_spec_validator services/user-api/openapi.yaml
# ============================================================================
openapi: 3.0.3
info:
  title: ProxyShard 用户 API 计费
  version: 1.1.0
servers:
  - url: https://user-api.proxyshard.com
security:
  - bearerAuth: []
tags:
  - name: Datacenter & ISP Proxies
    description: 数据中心和 ISP 代理的操作
  - name: General
    description: 一般操作（简介、订单、参考数据）
  - name: Residential Proxies
    description: 住宅代理的操作
  - name: Service
    description: "健康探测（无身份验证）"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    ActiveProxyItem:
      type: object
      properties:
        ip:
          type: string
        username:
          type: string
        password:
          type: string
        http_port:
          type: integer
        socks_port:
          type: integer
        until:
          type: string
          description: ISO8601/字符串日期
        status:
          type: string
        signature:
          type: string
          nullable: true
          description: "p0f 分配给IP的签名，不设置时为空"
      required:
        - ip
        - username
        - password
        - http_port
        - socks_port
        - until
        - status
    ApiError:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
      required:
        - success
        - message
    AddonLine:
      type: object
      description: "订单上存储的一条附加行"
      properties:
        addon_key:
          type: string
        catalog_id:
          type: integer
        qty:
          type: integer
          description: "当期活跃单位"
        price_per_unit:
          type: integer
          description: "购买时的单价（以美分为单位）"
        pending:
          description: "更改计划下次续订，或 `null`"
          nullable: true
          type: object
          properties:
            action:
              type: string
              enum:
                - cancel
                - downgrade
            next_qty:
              type: integer
              description: "降级后目标数量"
    PurchaseRequestDcIsp:
      type: object
      description: "为数据中心/ISP 购买; 需要位置字段。"
      properties:
        product:
          type: string
          enum:
            - Datacenter Proxy
            - ISP Proxy
        location:
          type: string
        cycle:
          type: string
        quantity:
          type: integer
          minimum: 1
          default: 1
        promo_code:
          type: string
          nullable: true
        auto_renewal:
          type: boolean
          default: false
        addons:
          type: array
          nullable: true
          description: "购买时附加的组件，例如 DC 或 ISP 的 `p0f_slots`"
          items:
            $ref: '#/components/schemas/CreateOrderAddonRequest'
      required:
        - product
        - location
        - cycle
    PurchaseRequestResidentialStandard:
      type: object
      description: "购买标准住宅代理；无需位置；计费周期固定为 lifetime。"
      properties:
        product:
          type: string
          enum:
            - Standart Residential Proxy
        quantity:
          type: integer
          minimum: 1
          default: 1
        promo_code:
          type: string
          nullable: true
        addons:
          type: array
          nullable: true
          description: "购买时附加的附加组件，例如 DC 或 ISP 的 `p0f_slots`"
          items:
            $ref: '#/components/schemas/CreateOrderAddonRequest'
      required:
        - product
    PurchaseRequestResidentialPremium:
      type: object
      description: "购买高级住宅代理；无需位置；计费周期固定为 lifetime。"
      properties:
        product:
          type: string
          enum:
            - Premium Residential Proxy
        quantity:
          type: integer
          minimum: 1
          default: 1
        promo_code:
          type: string
          nullable: true
        addons:
          type: array
          nullable: true
          description: "购买时附加的附加组件，例如 DC 或 ISP 的 `p0f_slots`"
          items:
            $ref: '#/components/schemas/CreateOrderAddonRequest'
      required:
        - product
    PurchaseRequestResidentialUnmetered:
      type: object
      description: "购买不限流量住宅代理; 支持自动续订。"
      properties:
        product:
          type: string
          enum:
            - Unmetered Residential proxy
        cycle:
          type: string
        promo_code:
          type: string
          nullable: true
        auto_renewal:
          type: boolean
          default: false
        addons:
          type: array
          nullable: true
          description: "购买时附加的附加组件，例如 DC 或 ISP 的 `p0f_slots`"
          items:
            $ref: '#/components/schemas/CreateOrderAddonRequest'
      required:
        - product
        - cycle
    PurchaseRequest:
      type: object
      properties:
        product:
          type: string
        location:
          type: string
          nullable: true
        cycle:
          type: string
        quantity:
          type: integer
          minimum: 1
          default: 1
        promo_code:
          type: string
          nullable: true
        auto_renewal:
          type: boolean
          default: false
        addons:
          type: array
          nullable: true
          description: "购买时附加的附加组件，例如 DC 或 ISP 的 `p0f_slots`"
          items:
            $ref: '#/components/schemas/CreateOrderAddonRequest'
      required:
        - product
        - cycle
    PurchaseResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        order_id:
          type: integer
      required:
        - success
        - message
        - order_id
    ProductWithCycles:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
          nullable: true
        location:
          type: string
          nullable: true
        cycles:
          type: array
          items:
            type: string
      required:
        - name
        - cycles
    AvailableCountResponse:
      type: object
      properties:
        country:
          type: string
        product:
          type: string
        amount:
          type: integer
      required:
        - country
        - product
        - amount
    ApiMeResponse:
      type: object
      properties:
        email:
          type: string
        active_orders:
          type: integer
        wallet_balance:
          type: integer
          description: 以美分为单位
      required:
        - email
        - active_orders
        - wallet_balance
    ApiSuccess:
      type: object
      properties:
        success:
          type: boolean
      required:
        - success
    AvailableCountRequest:
      type: object
      properties:
        country:
          type: string
        product:
          type: string
      required:
        - country
        - product
    AddBandwidthRequest:
      type: object
      properties:
        amount:
          type: integer
          description: 容量（GB）
        promo_code:
          type: string
          nullable: true
      required:
        - amount
    GetSubUsersRequest:
      type: object
      properties:
        offset:
          type: integer
          description: 偏移量（默认 0）
        limit:
          type: integer
          description: 页面大小（默认 20）
    EditSubUserPayload:
      type: object
      properties:
        name:
          type: string
      required:
        - name
    CreateSubUserPayload:
      type: object
      properties:
        proxy_type:
          type: string
        name:
          type: string
        data:
          type: integer
          description: 容量（GB）
      required:
        - proxy_type
        - name
        - data
    ChangeSubUserPasswordPayload:
      type: object
      properties:
        proxy_type:
          type: string
      required:
        - proxy_type
    ModifyTrafficPayload:
      type: object
      properties:
        proxy_type:
          type: string
        data:
          type: integer
          description: 容量（GB）
      required:
        - proxy_type
        - data
    Country:
      type: object
      properties:
        code:
          type: string
          maxLength: 10
          description: ISO国家代码
        name:
          type: string
          maxLength: 255
          description: 国家名称
      required:
        - code
        - name
    Region:
      type: object
      properties:
        code:
          type: string
          maxLength: 10
          description: 地区代码（州/省代码）
        name:
          type: string
          maxLength: 255
          description: 地区名称（州/省名称）
        country:
          $ref: '#/components/schemas/Country'
      required:
        - code
        - name
        - country
    City:
      type: object
      properties:
        code:
          type: string
          maxLength: 50
          description: 城市代码（通常为 slug 格式）
        name:
          type: string
          maxLength: 255
          description: 城市名称
        country:
          $ref: '#/components/schemas/Country'
        region:
          type: object
          nullable: true
          properties:
            code:
              type: string
              maxLength: 10
              description: 地区代码
            name:
              type: string
              maxLength: 255
              description: 地区名称
          required:
            - code
            - name
      required:
        - code
        - name
        - country
    PagedCountriesResponse:
      type: object
      properties:
        count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/Country'
      required:
        - count
        - results
    PagedRegionsResponse:
      type: object
      properties:
        count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/Region'
      required:
        - count
        - results
    PagedCitiesResponse:
      type: object
      properties:
        count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/City'
      required:
        - count
        - results
    Isp:
      type: object
      properties:
        code:
          type: string
          description: "ISP 代码，通常是一个 slug"
        name:
          type: string
          description: "互联网服务提供商名称"
        country:
          $ref: '#/components/schemas/Country'
        region:
          type: object
          nullable: true
          properties:
            code:
              type: string
              description: "地区代码"
            name:
              type: string
              description: "地区名称"
          required:
            - code
            - name
      required:
        - code
        - name
        - country
    PagedIspsResponse:
      type: object
      properties:
        count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/Isp'
      required:
        - count
        - results
    CreateOrderAddonRequest:
      type: object
      properties:
        addon_key:
          type: string
          example: p0f_slots
        qty:
          type: integer
          minimum: 1
      required:
        - addon_key
        - qty
paths:
  /user/api/proxies/active:
    get:
      tags:
        - Datacenter & ISP Proxies
      summary: 获取订单中的活动代理
      parameters:
        - in: query
          name: order_id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 代理列表
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActiveProxyItem'
                  order_tag:
                    type: string
                    nullable: true
                required:
                  - success
                  - data
        '403':
          description: 此订单无法使用该方法
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/orders/{order_id}/del-np/set:
    post:
      tags:
        - Datacenter & ISP Proxies
      summary: "设置按 IP 删除 (del-np)"
      description: "仅适用于数据中心和 ISP 代理。更新后，重新计算订单 `quantity` 和 `price_paid`。"
      parameters:
        - in: path
          name: order_id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      ip:
                        type: string
                      value:
                        type: boolean
                    required:
                      - ip
                      - value
              required:
                - items
      responses:
        '200':
          description: "成功"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          description: "验证错误/不是 DC-ISP/keep=0"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/orders/{order_id}/signature/set:
    post:
      tags:
        - Datacenter & ISP Proxies
      summary: "设置 IP 操作系统指纹"
      description: "为一个或多个代理 IP 设置操作系统指纹签名。订单必须启用 `p0f_slots` 组件。每个设置了签名的 IP 会永久占用一个槽位。修改已有签名 IP 的操作系统值不会占用额外槽位。**可用的签名值：** | 值 | 操作系统 | | --- | --- | | `ios` | iOS | | `macos` | macOS | | `android` | Android | | `linux` | Linux | | `win10` | Windows 10 | | `win11` | Windows 11 |"
      parameters:
        - in: path
          name: order_id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - items
              properties:
                items:
                  type: array
                  items:
                    type: object
                    required:
                      - ip
                      - signature
                    properties:
                      ip:
                        type: string
                      signature:
                        type: string
                        description: "要欺骗的操作系统标识符。"
                        enum:
                          - ios
                          - macos
                          - android
                          - linux
                          - win10
                          - win11
      responses:
        '200':
          description: "成功"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  updated:
                    type: integer
                    description: "更新的IP数量"
        '400':
          description: "验证错误或插槽不足"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/orders/{order_id}/addons/calculate:
    get:
      tags:
        - Datacenter & ISP Proxies
      summary: "计算附加成本"
      description: "返回为活动数据中心/ISP 订单购买给定附加组件的额外单位的价格预览。目前唯一支持的附加密钥是 `p0f_slots`；操作系统指纹签名槽。"
      parameters:
        - in: path
          name: order_id
          required: true
          description: "订单号"
          schema:
            type: integer
        - in: query
          name: addon_key
          required: true
          description: "附加标识符（例如 `p0f_slots`）"
          schema:
            type: string
        - in: query
          name: add_qty
          required: true
          description: "要添加的单位数量"
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: "价格预览"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  addon_key:
                    type: string
                  catalog_id:
                    type: integer
                  price_per_unit:
                    type: integer
                    description: "每单位价格（美分）"
                  current_qty:
                    type: integer
                  add_qty:
                    type: integer
                  new_qty:
                    type: integer
                  add_total:
                    type: integer
                    description: "本次购买的总费用（以美分为单位）"
  /user/api/orders/{order_id}/addons/purchase:
    post:
      tags:
        - Datacenter & ISP Proxies
      summary: "购买附加组件"
      description: "立即从钱包扣款，并将指定数量的组件添加到订单。订单状态必须为 **active**。目前只有 `p0f_slots` 可用。"
      parameters:
        - in: path
          name: order_id
          required: true
          description: "订单号"
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - addon_key
                - add_qty
              properties:
                addon_key:
                  type: string
                add_qty:
                  type: integer
                  minimum: 1
      responses:
        '200':
          description: "已购买附加组件"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  addons_price_paid:
                    type: integer
                    description: "该订单的累计附加成本（分）"
                  addons:
                    type: array
                    description: "订单中存储的更新附加列表"
                    items:
                      $ref: '#/components/schemas/AddonLine'
  /user/api/orders/{order_id}/addons/schedule:
    post:
      tags:
        - Datacenter & ISP Proxies
      summary: "安排附加降级"
      description: "安排组件在下一个续订周期 **降级**。新数量必须低于当前数量。更改保存为 `pending` 标记，并在订单续订时自动应用。"
      parameters:
        - in: path
          name: order_id
          required: true
          description: "订单号"
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - addon_key
                - action
                - next_qty
              properties:
                addon_key:
                  type: string
                action:
                  type: string
                  enum:
                    - downgrade
                next_qty:
                  type: integer
                  description: "续订后的目标数量。必须小于当前数量。"
                  minimum: 1
      responses:
        '200':
          description: "已安排降级"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  addons:
                    type: array
                    items:
                      $ref: '#/components/schemas/AddonLine'
  /user/api/orders/{order_id}/addons/schedule/cancel:
    post:
      tags:
        - Datacenter & ISP Proxies
      summary: "取消已安排的降级"
      description: "取消通过 schedule 接口设置的待处理降级。"
      parameters:
        - in: path
          name: order_id
          required: true
          description: "订单号"
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - addon_key
              properties:
                addon_key:
                  type: string
      responses:
        '200':
          description: "待降级已清除"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  addons:
                    type: array
                    items:
                      $ref: '#/components/schemas/AddonLine'
  /user/api/orders/purchase:
    post:
      tags:
        - General
      summary: 创建订单并付款
      description: |
        按产品名称、地点和周期购买。
        对于数据中心/ISP，需要位置。
        对于标准住宅代理，不需要位置。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/PurchaseRequestDcIsp'
                - $ref: '#/components/schemas/PurchaseRequestResidentialStandard'
                - $ref: '#/components/schemas/PurchaseRequestResidentialPremium'
                - $ref: '#/components/schemas/PurchaseRequestResidentialUnmetered'
                - $ref: '#/components/schemas/PurchaseRequest'
      responses:
        '200':
          description: 成功的
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseResponse'
        '400':
          description: 验证/余额错误/库存不足
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: 未经授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/orders/calculate:
    get:
      tags:
        - General
      summary: "计算订单成本"
      description: "按产品名称、周期名称和数量计算价格。使用与购买相同的验证规则（允许的计费周期、促销规则）。"
      parameters:
        - in: query
          name: product
          required: true
          schema:
            type: string
        - in: query
          name: location
          required: false
          schema:
            type: string
            nullable: true
        - in: query
          name: cycle
          required: false
          schema:
            type: string
            nullable: true
        - in: query
          name: quantity
          required: false
          schema:
            type: integer
            nullable: true
        - in: query
          name: promo_code
          required: false
          schema:
            type: string
            nullable: true
        - in: query
          name: addons_json
          required: false
          description: "URL 编码的 JSON 组件数组，例如 [{\"addon_key\":\"p0f_slots\",\"qty\":5}]"
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: "成功"
          content:
            application/json:
              schema:
                type: object
                properties:
                  original_price:
                    type: integer
                  final_price:
                    type: integer
                  discount_percent:
                    type: integer
                  addons_price:
                    type: integer
                    description: "附加组件总数，次要单位"
                  total_with_addons:
                    type: integer
                    description: "最终价格 + 插件价格"
        '400':
          description: "验证错误"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: "未经授权"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/orders/change-billing-cycle/{order_id}:
    post:
      tags:
        - General
      summary: 更改订单结算周期
      description: |
        按周期名称更改计费周期。仅适用于数据中心和 ISP 代理。
        如果促销代码在所选周期内不可用，将自动重置。
      parameters:
        - in: path
          name: order_id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cycle:
                  type: string
              required:
                - cycle
      responses:
        '200':
          description: 成功的
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  order_id:
                    type: integer
                  original_price:
                    type: integer
                  final_price:
                    type: integer
                  discount_percent:
                    type: integer
        '400':
          description: 无效的产品或周期
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: 未经授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: 该用户无法使用循环
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/orders/edit-auto-renewal/{order_id}:
    post:
      tags:
        - General
      summary: 变更订单自动续订
      description: |
        启用/禁用自动续订。仅适用于数据中心和 ISP 代理。
      parameters:
        - in: path
          name: order_id
          required: true
          schema:
            type: integer
        - in: query
          name: auto_renewal
          required: true
          schema:
            type: boolean
      responses:
        '200':
          description: 成功的
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          description: 此操作的产品无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: 未经授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/proxies/products:
    get:
      tags:
        - General
      summary: 获取产品及其周期
      description: 返回具有可用循环名称的 API 产品。
      responses:
        '200':
          description: 产品列表
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductWithCycles'
                required:
                  - success
                  - products
  /user/api/proxies/available-count:
    get:
      tags:
        - General
      summary: "获取可用代理数量"
      description: 返回所有产品的总可用数量。
      responses:
        '200':
          description: 成功的
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AvailableCountResponse'
  /user/api/me:
    get:
      tags:
        - General
      summary: 用户信息
      responses:
        '200':
          description: 个人资料数据
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMeResponse'
  /user/api/orders:
    get:
      tags:
        - General
      summary: 订单清单
      parameters:
        - in: query
          name: status
          required: true
          description: 活跃 |等待 |取消 |全部
          schema:
            type: string
        - in: query
          name: offset
          required: false
          description: 选择偏移量（默认 0）
          schema:
            type: integer
            minimum: 0
        - in: query
          name: limit
          required: false
          description: 页面大小（1..100，默认 20）
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: 订单清单
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  orders:
                    type: array
                    items:
                      type: object
                      properties:
                        order_id:
                          type: integer
                        product_id:
                          type: integer
                        product_name:
                          type: string
                        cycle_id:
                          type: integer
                        cycle_name:
                          type: string
                        expires_at:
                          type: string
                          nullable: true
                          description: ISO8601有效期
                        auto_renewal:
                          type: boolean
                          nullable: true
                        tag:
                          type: string
                          nullable: true
                      required:
                        - order_id
                        - product_id
                        - product_name
                        - cycle_id
                        - cycle_name
                  count:
                    type: integer
                    description: 当前选择的订单数量
                  prev:
                    type: string
                    nullable: true
                    description: 上一页 URI
                  next:
                    type: string
                    nullable: true
                    description: 下一页 URI
                required:
                  - success
                  - orders
  /user/api/orders/{id}:
    get:
      tags:
        - General
      summary: 获取订单信息
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 订单信息
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  order:
                    type: object
                    properties:
                      order_id:
                        type: integer
                      product_name:
                        type: string
                      cycle_name:
                        type: string
                      quantity:
                        type: integer
                      price_paid:
                        type: integer
                        description: "基本订阅价格（以美分为单位）"
                      addons_price_paid:
                        type: integer
                        description: "总附加成本（以美分为单位）"
                      addons:
                        type: array
                        description: "附加到此订单的附加行"
                        items:
                          $ref: '#/components/schemas/AddonLine'
                      p0f_slots_available:
                        type: integer
                        description: "活跃的 p0f 签名槽（来自附加组件）"
                      p0f_slots_used:
                        type: integer
                        description: "目前已被签名代理占用的槽位"
                      p0f_slots_next:
                        type: integer
                        description: "下次更新后将激活的插槽"
                      status:
                        type: string
                      created_at:
                        type: string
                        nullable: true
                      expires_at:
                        type: string
                        nullable: true
                      promo_code:
                        type: string
                        nullable: true
                      auto_renewal:
                        type: boolean
                        nullable: true
                      tag:
                        type: string
                        nullable: true
                required:
                  - success
                  - order
  /user/api/orders/{id}/renew:
    post:
      tags:
        - General
      summary: 续订订单
      description: "仅当订单状态为 `on-hold` 时才可以续订。"
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 成功的
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Order renewed successfully
                required:
                  - success
                  - message
        '400':
          description: 余额不足/验证错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/orders/{id}/tag:
    post:
      tags:
        - General
      summary: 更改订单标签
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tag:
                  type: string
              required:
                - tag
      responses:
        '200':
          description: 成功的
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Order tag updated
                required:
                  - success
                  - message
  /user/api/orders/{id}/add-bandwidth:
    post:
      tags:
        - Residential Proxies
      summary: 购买额外流量（住宅）
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddBandwidthRequest'
      responses:
        '200':
          description: 成功的
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Order paid successfully
                required:
                  - success
                  - message
  /user/api/proxies/profile:
    get:
      tags:
        - Residential Proxies
      summary: "账户所有者流量"
      description: "返回给定代理类型的父账户自己的总数据和剩余数据，在父订单中聚合。与子用户端点不同，这反映了帐户所有者的数据，而不是子用户的数据。"
      parameters:
        - in: query
          name: proxy_type
          required: true
          description: "代理类型（标准 | 高级）"
          schema:
            type: string
      responses:
        '200':
          description: "成功"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: integer
                    description: "分配的数据总量（以字节为单位）"
                  data_remain:
                    type: integer
                    description: "剩余数据（以字节为单位）"
                  data_spent:
                    type: integer
                    description: "消耗的数据（以字节为单位）"
                  proxy_password:
                    type: string
                    description: "父帐户的代理密码"
                required:
                  - success
                  - data
                  - data_remain
                  - data_spent
                  - proxy_password
        '400':
          description: "用户驻留未设置/代理类型无效"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: "未经授权"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /user/api/proxies/sub-users:
    get:
      tags:
        - Residential Proxies
      summary: 子用户列表
      parameters:
        - in: query
          name: proxy_type
          required: true
          description: 代理类型（标准 | 高级）
          schema:
            type: string
        - in: query
          name: offset
          required: false
          schema:
            type: integer
        - in: query
          name: limit
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: 成功的
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  count:
                    type: integer
                    description: "分页前子用户总数"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        user_id:
                          type: string
                        first_name:
                          type: string
                        proxy_password:
                          type: string
                        data:
                          type: integer
                        data_spent:
                          type: integer
                        data_remain:
                          type: integer
                      required:
                        - user_id
                        - first_name
                        - proxy_password
                        - data
                        - data_spent
                        - data_remain
  /user/api/proxies/sub-user/{user_id}:
    get:
      tags:
        - Residential Proxies
      summary: 通过ID获取子用户
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
        - in: query
          name: proxy_type
          required: true
          description: 代理类型（标准 | 高级）
          schema:
            type: string
      responses:
        '200':
          description: 成功的
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        first_name:
                          type: string
                        proxy_password:
                          type: string
                        data:
                          type: integer
                        data_spent:
                          type: integer
                      required:
                        - first_name
                        - proxy_password
                        - data
                        - data_spent
    delete:
      tags:
        - Residential Proxies
      summary: 删除子用户
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 成功的
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Sub user deleted successfully
                required:
                  - success
                  - message
    patch:
      tags:
        - Residential Proxies
      summary: 编辑子用户（名称/包）
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
        - in: query
          name: proxy_type
          required: true
          description: 代理类型（标准 | 高级）
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditSubUserPayload'
      responses:
        '200':
          description: 成功的
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Sub user edited successfully
                required:
                  - success
                  - message
  /user/api/proxies/sub-user:
    post:
      tags:
        - Residential Proxies
      summary: 创建子用户
      parameters:
        - in: query
          name: proxy_type
          required: true
          description: 代理类型（标准 | 高级）
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                data:
                  type: integer
              required:
                - name
                - data
      responses:
        '200':
          description: 成功的
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        user_id:
                          type: string
                        first_name:
                          type: string
                        proxy_password:
                          type: string
                        data:
                          type: integer
                        data_spent:
                          type: integer
                      required:
                        - user_id
                        - first_name
                        - proxy_password
                        - data
                        - data_spent
  /user/api/proxies/sub-user/{user_id}/data/add:
    post:
      tags:
        - Residential Proxies
      summary: 给子用户添加流量
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
        - in: query
          name: proxy_type
          required: true
          description: 代理类型（标准 | 高级）
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: integer
                  description: 容量（GB）
              required:
                - data
      responses:
        '200':
          description: 成功的
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Traffic added to sub user successfully
                required:
                  - success
                  - message
  /user/api/proxies/sub-user/{user_id}/data/subtract:
    post:
      tags:
        - Residential Proxies
      summary: 扣除子用户流量
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
        - in: query
          name: proxy_type
          required: true
          description: 代理类型（标准 | 高级）
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: integer
                  description: 容量（GB）
              required:
                - data
      responses:
        '200':
          description: 成功的
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Traffic subtracted from sub user successfully
                required:
                  - success
                  - message
  /user/api/proxies/sub-user/{user_id}/password:
    post:
      tags:
        - Residential Proxies
      summary: 修改子用户密码
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
        - in: query
          name: proxy_type
          required: true
          description: 代理类型（标准 | 高级）
          schema:
            type: string
      responses:
        '200':
          description: 成功的
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: Sub user password changed successfully
                required:
                  - success
                  - message
  /user/api/proxies/countries:
    get:
      tags:
        - Residential Proxies
      summary: 国家列表
      parameters:
        - in: query
          name: proxy_type
          required: true
          description: 代理类型（标准 | 高级）
          schema:
            type: string
      responses:
        '200':
          description: 成功的
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedCountriesResponse'
  /user/api/proxies/regions:
    get:
      tags:
        - Residential Proxies
      summary: 地区列表
      parameters:
        - in: query
          name: proxy_type
          required: true
          description: 代理类型（标准 | 高级）
          schema:
            type: string
        - in: query
          name: country_code
          required: true
          description: ISO国家代码
          schema:
            type: string
      responses:
        '200':
          description: 成功的
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedRegionsResponse'
  /user/api/proxies/cities:
    get:
      tags:
        - Residential Proxies
      summary: 城市列表
      parameters:
        - in: query
          name: proxy_type
          required: true
          description: 代理类型（标准 | 高级）
          schema:
            type: string
        - in: query
          name: country_code
          required: true
          description: ISO国家代码
          schema:
            type: string
        - in: query
          name: region_code
          required: true
          description: 地区代码（州/省）
          schema:
            type: string
      responses:
        '200':
          description: 成功的
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedCitiesResponse'
  /user/api/proxies/isps:
    get:
      tags:
        - Residential Proxies
      summary: "列出 ISP"
      description: "城市内可用的互联网提供商；继国家、地区、城市之后的第四个目标级别。与其他位置端点不同，这个端点需要完整的链：`country_code`、`region_code` 和 `city_code` 都是必需的，因为上游 ISP 与城市绑定。仅高级套餐：不为标准套餐和无限制套餐维护 ISP 目录，任何其他 `proxy_type` 都会被拒绝并返回 400。仅列出主要城市的 ISP，因此对于较小的城市，带有 `count: 0` 的空 `results` 是正常答案。"
      parameters:
        - in: query
          name: proxy_type
          required: true
          description: "必须为 `premium`；ISP 定向仅适用于 premium 套餐。"
          schema:
            type: string
            enum:
              - premium
        - in: query
          name: country_code
          required: true
          description: "ISO国家代码"
          schema:
            type: string
        - in: query
          name: region_code
          required: true
          description: "地区或州代码"
          schema:
            type: string
        - in: query
          name: city_code
          required: true
          description: "来自 GET /user/api/proxies/cities 的城市代码"
          schema:
            type: string
      responses:
        '200':
          description: "成功"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedIspsResponse'
        '400':
          description: "proxy_type 不是 `premium`，未设置用户常驻，或者用户没有对该包的有效订单"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                notPremium:
                  value:
                    success: false
                    message: ISP targeting is available for the premium package only
        '401':
          description: "未经授权"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /health:
    get:
      tags:
        - Service
      summary: "健康检查"
      description: "在 /user/api/ 前缀之外，因此不需要 API 密钥。"
      security: []
      responses:
        '200':
          description: "服务已启动"
  /health/live:
    get:
      tags:
        - Service
      summary: "存活检查"
      description: "在 /user/api/ 前缀之外，因此不需要 API 密钥。"
      security: []
      responses:
        '200':
          description: "服务已启动"
