---
icon: island-tropical
---

# 我们的现场测试结果

最初，我们向所有 <mark style="color:purple;">Datacenter</mark> 代理位置添加了 <mark style="color:purple;">**UDP**</mark> 支持，并通过 ClashX 对其进行了测试。我们得到以下结果：

* Google - 连续创建 15 个帐户，没有错误，也没有电话号码。
* Discord - 注册和服务器登录，包括具有增强机器人检查的服务器，均成功！ Even on servers that usually block ISP proxies.
* Twitter - 10 张图像的验证码被接受，但有错误，并且重新验证顺利通过。
* Facebook/Instagram/FB ADS... - 注册没有问题或验证码。

为了进行比较，通过没有 **UDP** 的 ISP 代理进行的相同操作会导致错误或需要 SMS 验证。

而这一切都在数据中心代理上！

**我们的所有产品现已提供支持** :tada:



